In [1]:
# Dependencies
import pandas as pd

In [2]:
# Store filepath in a variable
city = "cities.csv"

In [3]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
city_df = pd.read_csv(city, encoding="ISO-8859-1")

In [4]:
city_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,pumiao,22.75,108.48,68.00,94,90,2.24,CN,1583533055
1,1,hilo,19.73,-155.09,77.00,69,75,19.46,US,1583532949
2,2,rikitea,-23.12,-134.97,78.33,79,100,23.80,PF,1583533062
3,3,hithadhoo,-0.60,73.08,82.99,68,0,8.41,MV,1583533062
4,4,atuona,-9.80,-139.03,81.34,68,23,11.34,PF,1583533062

In [6]:
city_df.to_html

<bound method DataFrame.to_html of      City_ID         City    Lat     Lng  Max Temp  Humidity  Cloudiness  \
0          0       pumiao  22.75  108.48     68.00        94          90
1          1         hilo  19.73 -155.09     77.00        69          75
2          2      rikitea -23.12 -134.97     78.33        79         100
3          3    hithadhoo  -0.60   73.08     82.99        68           0
4          4       atuona  -9.80 -139.03     81.34        68          23
..       ...          ...    ...     ...       ...       ...         ...
554      554  bandarbeyla   9.49   50.81     77.67        79           1
555      555    kathmandu  27.72   85.32     51.80        76          75
556      556     freeport  40.66  -73.58     45.00        52          90
557      557       duluth  46.78  -92.11     35.60        63           1
558      558    bembereke  10.23    2.66     82.29        11          52

     Wind Speed Country        Date
0          2.24      CN  1583533055
1         19.46      US  1583532949
2         23.80      PF  1583533062
3          8.41      MV  1583533062
4         11.34      PF  1583533062
..          ...     ...         ...
554       11.54      SO  1583533110
555        9.17      NP  1583533110
556       16.11      US  1583532853
557        5.82      US  1583532921
558        3.98      BJ  1583533111

[559 rows x 10 columns]>

In [7]:
city_df.to_html("cities.html", index=False, header=True)